<h1>Listing mechanics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mechanics.each do |mechanic| %>
      <tr>
        <td><%= mechanic.name %></td>
        <td><%= mechanic.company %></td>
        <td><%= link_to 'Show', mechanic %></td>
        <td><%= link_to 'Edit', edit_mechanic_path(mechanic) %></td>
        <td><%= link_to 'Destroy', mechanic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mechanic', new_mechanic_path %>
